@import url('https://fonts.googleapis.com/css2?family=Amatic+SC:wght@400;700&display=swap');

@font-face{
    font-family: 'Gagalin';
    src: url('Gagalin-Regular.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

#loader {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #fff;
    z-index: 100;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transition: opacity 0.5s;
    font-family: 'Amatic SC', cursive;
    color: #000; 
}

.winter-loader-container {
    text-align: center;
    transform: scale(1.5);
}

.text-area {
    font-size: 2.5rem;
    font-weight: 700;
    margin-bottom: 15px;
    position: relative;
    letter-spacing: 2px;
}

.small-is {
    font-size: 1.5rem;
    vertical-align: middle;
    font-weight: 400;
    margin: 0 5px;
}

.strikethrougn{
    position: relative;
    display: inline-block;
}

.strikethrough::after{
    content: "";
    position: absolute;
    top: 50%;
    left: -5%;
    width: 110%;
    height: 3px;
    background: #000;
    transform: rotate(-2deg);
    border-radius: 50% 50% 50% 50% / 90% 90% 10% 10%;
}

.hand-written{
    position: absolute;
    top: -25px;
    right: 0px;
    font-size: 1.8rem;
    transform: rotate(-10deg);
    color: #555;
    font-weight: 700;
}

.loading-bar-border{
    width: 300px;
    height: 40px;
    border: 3px solid #000;
    border-radius: 255px 15px 225px 15px / 15px 225px 15px 255px;
    padding: 4px;
    position: relative;
    background: transparent;
    box-shadow: 2px 3px 0px rgba(0,0,0,0.1);
}

.loading-bar-scribble{
    height: 100%;
    width: 0%;
    background: repeating-linear-gradient(
        45deg,
        #00aaff,
        #00aaff 3px,
        #0088cc 4px,
        #0088cc 8px
    );
    border-radius: 5px;
    animation: scribbleFill 3s ease-out forwards;
    filter: url(#roughpaper);
}

@keyframes scribbleFill{
    0%{width: 0%;}
    20%{width: 15%;}
    40%{width: 45%;}
    60%{width: 60%;}
    90%{width: 85%;}
    100%{width: 95%;}
}